/* @{
  Layout = "_Layout";
}
<div class="container index">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <span class="logo"><a href="/">HairSalon</a></span>
    <ul>
      <li><a href="#">Styles and Attitude Salon</a></li>
    </ul>
  </nav>
  <h1 id="banner">Style is a reflection of your Attitude!</h1>
</div> */
