<h1>Add a new item to @Model.GetName()</h1>

<form action='/Stylists/@Model.GetId()/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
  <button type='submit'>Add a Client</button>
</form>
