<h1>Styles and Attitude HairSalon</h1>


<h3>Stylist: @Model["Stylist"].GetName()</h3>

<a href='/stylists/@Model["stylist"].GetId()/client/new'>Add another client</a>
<a href='/stylists'>View all stylists</a>
